<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
         <v-card-title primary-title>
            Laboratorios
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>
            
            <!-- NUEVO -->
            <v-btn align="right" 
              color="primary" dark small 
              @click="dialog = true">Nuevo
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              single-line
              hide-details
              outlined
              dense
            ></v-text-field>

            <v-data-table
              :loading="loading"        
              :items="productos"
              loading-text="Cargando..."
              dense
              :items-per-page="10"
              :search="search"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
            >
              <template v-slot:item.estatus="{ item }">
                <v-chip small color="green" dark v-if="item.estatus == 1">Activo</v-chip>
                <v-chip small color="red"   dark v-else>Inactivo</v-chip>
              </template>

              <template v-slot:item.actions="{ item }">
                <v-chip 
                  color="blue"
                  dark
                  small
                  class="mr-2"
                  @click="editItem(item)">Editar
                </v-chip>
              </template>

              <template v-slot:no-data>
                <v-btn
                  color="blue"
                  dark
                  @click="initialize"
                >
                  Reset
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>  

    <!-- Dialogo del laboratorio -->
    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model="editedItem.nomlab"
            label="Nombre"
            dense
            hide-details
            filled
          ></v-text-field>
          <v-switch
            v-model="editedItem.estatus"
            dense
            hide-details
            label="Activo"
          ></v-switch>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error"
            @click="close"
            small
            rounded
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            @click="save"
            dark
            small
            rounded
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>


<script>
	import {mapActions, mapGetters} from 'vuex'
  import  reportes_excel from '@/mixins/reportes_excel.js';

  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  export default {
    mixins:[reportes_excel],

    components: {
      Alerta,
      Loader
    },

    data: () => ({
      dialog: false,
      loading: true,
      longitud:5,
      search:'',
      productos:[],

      headers: [
        { text: 'Id'    , align: 'left', value: 'idlaboratorios'},
        { text: 'Nombre', align: 'left', value: 'nomlab'},
        { text: 'Activo', align: 'left', value: 'estatus'},
        { text: 'Editar', align: 'left', value: 'actions'},
      ],

      editedIndex: -1,

      editedItem: {
        nomlab: '',
        estatus: 0,
        idlaboratorios: 0,
      },

      defaultItem: {
        nomlab: '',
        estatus: 0,
        idlaboratorios: 0,
      },
      page: 1,
      pageCount: 0,

      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },
      respuestaAlerta: false,

    }),

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created(){
     this.initialize()
    },

    computed:{
      ...mapGetters('productos',['getProductos']),

      formTitle () {
        return this.editedIndex === -1 ? 'Agregar' : 'Editar'
      },
    },

    methods:{
      ...mapActions('productos',['editLab']),

      initialize () {
        this.cargar = true
        this.productos = []
        
        this.$http.get('movil/laboratorios.list').then(response =>{
          this.loading = false
          this.productos = response.body
          this.longitud = this.productos.length
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      // EXCEL
      exportar(){
        this.exportarExcel('laboratorios',this.productos)
      },

      edit(item){
        this.editLab(item).then(response=>{
        	this.$router.push({name:'editlab', params: {id: item.codigo}})
        })
      },


      editItem (item) {
        this.editedIndex = this.productos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.editedItem.nomlab != ''){
          if (this.editedIndex > -1) {
            // this.editedItem.estatus = this.editedItem.estatus == true ? 0 : 1
            this.$http.put('admin/laboratorios.update/'+ this.editedItem.idlaboratorios, this.editedItem).then(response=>{
              this.validarSuccess( 'Laboratorio editado correctamente ')
              this.initialize()
            }).catch( error => {
              this.validarErrores( error )
            }).finally(()=>{ this.cargar = false })
          } else {
            this.$http.post('admin/laboratorios.add', this.editedItem).then(response=>{
              this.validarSuccess( 'Laboratorio agregado correctamente ')
              this.initialize()
            }).catch( error => {
              this.validarErrores( error )
            }).finally(()=>{ this.cargar = false })
          }
          this.close()
        }
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      validarSuccess ( mensaje ){
        this.cargar = false
        this.parametros.mensaje = mensaje
        this.parametros.color        = 'success'
        this.parametros.dialogError  = true 
        this.respuestaAlerta = true 
      }
    },
  }
</script>



