<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">

         <v-card-title primary-title>
            Faltantes
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>
            
          </v-card-title>

          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              single-line
              hide-details
              outlined
              dense
            ></v-text-field>

            <v-data-table
              :items="productos"
              dense
              :items-per-page="5"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
            >
              <!-- fixed-header -->
              <template v-slot:item="{ item }" >
               <tr v-on:dblclick="edit(item.codigo)">
                 <td>{{ item.nomart}}</td>
                 <td>{{ item.suma }}</td>
                 <td>{{ item.lab }}</td>
                 <td>{{ item.sal }}</td>
                 <td><v-btn icon @click="edit(item)"><v-icon>remove_red_eye</v-icon></v-btn></td>
               </tr>
                       
             </template>

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>  
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import  reportes_excel from '@/mixins/reportes_excel.js';
  
  export default {
    mixins:[reportes_excel],

    data: () => ({
    	
      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Cantidad', value: 'suma' },
        { text: 'Laboratorio', value: 'lab' },
        { text: 'Sal', value: 'sal' },
        { text: 'Ver', value: '' },
        
      ],
    }),

    created(){
      this.$http.get('existencias.list').then(response =>{
        if(response == null){
          this.loading = false
          this.productos = []
        }else{
        	var faltantes = []
        	for(const i in response.body){
        		if(response.body[i].suma == 0){
        			faltantes.push(response.body[i])
        		}
        	}

          this.loading = false
          this.productos = faltantes
          this.longitud = this.productos.length
        }
      })
    },

    methods:{
      ...mapActions('productos',['verExis']),

      // EXCEL
      exportar(){
        this.$http.get('existencias.total').then(response =>{
          console.log(response)
          if(response == null){
            // this.loading = false
            // this.productos = []
          }else{
            let xls = {
              data:      this.productos,
              tHeaders : ['Codigo', 'Nombre', 'Cantidad', 'Caducidad', 'Lote','Laboratorio', 'Sal'],
              filterVal: ['codigo', 'nomart', 'cant', 'caducidad','lote','lab','sal'],
              nomfile :  "Faltantes"
            }
            // EXCEL
            this.exportarExcel('existencias',response.body)

          }
        }).catch(error=>{console.log(error)})

        
      },

      edit(item){
        this.verExis(item).then(response=>{
          this.$router.push({name:'verexistencia'})
        })
      }

      
    },

  }
</script>





