<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Salidas
            <v-spacer></v-spacer>

            <!-- NUEVO -->
            <v-btn align="right" 
              color="primary" dark small 
              :to="{name:'catexistencia'}"
            >
              Regresar
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              outlined
              dense
              hide-details
            ></v-text-field>

            <v-data-table
              :items="productos"
              dense
              :items-per-page="6"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
            >

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  
  export default {

    data: () => ({
    	
      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Cantidad', value: 'cant' },
        { text: 'Caducidad', value: 'caducidad' },
        { text: 'Lote', value: 'lote' },
        { text: 'Laboratorio', value: 'lab' },
        { text: 'Sal', value: 'sal' },
        
      ],
    }),

    created(){
      this.$http.get('existencias.codigo.des/' + this.getExistencia.codigo).then(response =>{
        if(response == null){
          this.loading = false
          this.productos = []
        }else{
          this.loading = false
          this.productos = response.body
          for(const i in this.productos){
            this.productos[i].caducidad = this.productos[i].caducidad.substr(0,10)
          }
          this.longitud = this.productos.length
        }
      })
    },

    methods:{
      // EXCEL
    },

    computed:{
      ...mapGetters('productos',['getExistencia']),

    }

  }
</script>





