<template>
	<!-- Dialog de carga -->
  <v-overlay>
    <v-card
    	width="300"
      color="primary"
      dark
    >
      <v-card-text  class="text-subtitle-1">
        Espera porfavor
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0 mt-2"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-overlay>
</template>