<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">

         <v-card-title primary-title>
            Calcular perdidas
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>

            <v-btn 
              small dark color="yellow darken-2"
              @click="comparar()">
              <v-icon>compare_arrows</v-icon>
            </v-btn>
            
          </v-card-title>
          
          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              outlined
              dense
            ></v-text-field>

            <v-data-table
    		      :headers="headers"
    		      :items="productos"
    		      class="elevation-0"
              height="450"
              hide-default-footer
              loading-text="Cargando..."
              dense
              :search="search"
              :items-per-page="longitud"
              :mobile-breakpoint="200"
    		    >
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.nomart"
                  label="Edit"
                  single-line
                  counter
                ></v-text-field>
              </template>

              <template v-slot:input>
                <v-text-field
                  v-model="props.item.suma"
                  label="Edit"
                  single-line
                  counter
                ></v-text-field>
              </template>

    		      <template v-slot:item.existe="props">
    		        <v-edit-dialog
    		          :return-value.sync="props.item.existe"
    		          @save="save"
    		          @cancel="cancel"
    		          @open="open"
    		          @close="close"
    		        > {{ props.item.existe }}
    		          <template v-slot:input>
    		            <v-text-field
    		              v-model="props.item.existe"
    		              label="Existe"
    		              single-line
    		              counter
    		              type="number"
    		            ></v-text-field>
    		          </template>
    		        </v-edit-dialog>
    		      </template>
    		    </v-data-table>

    		    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
    		      {{ snackText }}
    		      <v-btn text @click="snack = false">Close</v-btn>
    		    </v-snackbar>

            <v-data-table
              :headers="headersdis"
              :items="discrepancias"
              class="elevation-0 pt-4"
              height="450"
              hide-default-footer
              loading-text="Cargando..."
              dense
              :search="search"
              :items-per-page="longitud"
              :mobile-breakpoint="200"
            >
            </v-data-table>

          </v-card-text>
            
        </v-card>
      </v-col>
    </v-row>

    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="success" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar> 
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import  reportes_excel from '@/mixins/reportes_excel.js';

  export default {
    mixins:[reportes_excel],

    data: () => ({
    	snackbar: false,
    	text:'',

    	snack: false,
      snackColor: '',
      snackText: '',

      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Almacén', value: 'suma' },
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Existencia', value: 'existe' },
      ],

    	discrepancias:[],
      headersdis: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Faltantes', value: 'perdida' },
        { text: 'Sobrantes', value: 'sobrantes' },
      ],
    }),

    created(){
      this.$http.get('existencias.list').then(response =>{
        if(response == null){
          this.loading = false
          this.productos = []
        }else{
          for(const i in response.body){
            if(response.body[i].suma > 0){
              this.productos.push(response.body[i]) 

            }
          }
          this.loading = false
          this.longitud = this.productos.length
        }
      })
    },

    methods:{
      // EXCEL
      exportar(){
        this.exportarExcel('discrepancias',this.discrepancias)
      },

      save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Data saved'
      },

      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Canceled'
      },

      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialog opened'
      },

      close () {
        console.log('Dialog closed')
      },

      comparar(){
      	this.discrepancias = []
      	this.productos.forEach((element)=>{
      		if(element.suma != element.existe){
      			var x = element.suma - element.existe
      			var val = {}
      			if(x > 0){
	      			val = {
	      				nomart: element.nomart,
	      				perdida: element.suma - element.existe,
	      				sobrantes: ''
	      			}
      				this.discrepancias.push(val)
      			}else{
      				val = {
	      				nomart: element.nomart,
	      				perdida: '',
	      				sobrantes: (element.suma - element.existe) * -1
	      			}
      				this.discrepancias.push(val)
      			}
      		}
      	})
      },

      
    },

  }
</script>





