<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Artículos
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>
            
            <!-- NUEVO -->
            <v-btn align="right" 
              color="primary" dark small 
              :to="{ name: 'newproducto' }" >Nuevo
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              single-line
              hide-details
              outlined
              dense
            ></v-text-field>
          
            <v-data-table
              :loading="loading"        
              :items="productos"
              loading-text="Cargando..."
              dense
              :items-per-page="5"
              :search="search"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
            >

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>

              <!-- STATUSWEB -->
              <template v-slot:item.Statusweb="{ item }">
                <v-checkbox  readonly v-model="item.Statusweb"></v-checkbox>  
              </template>

              <!-- STATUSWEB -->
              <template v-slot:item.editar="{ item }">
                <v-chip color="primary" small icon @click="edit(item)"> Editar </v-chip>
              </template>
                       
            </v-data-table>

          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>
    </v-row>  

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>


<script>
	import {mapActions, mapGetters} from 'vuex'
  import  reportes_excel from '@/mixins/reportes_excel.js';

  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'


  export default {
    mixins:[reportes_excel],

    components: {
      Alerta,
      Loader
    },

    data: () => ({
      downloadLoading:false,
      loading: true,
      longitud:5,
      search:'',
      productos:[],
      headers: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Categoria', align: 'left', value: 'categoria'},
        { text: 'Sal', value: 'sal' },
        { text: 'Laboratorio', value: 'nomlab' },
        { text: 'Editar', value: 'editar' },
      ],
      page: 1,
      pageCount: 0,

      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },
      respuestaAlerta: false,
    }),

    async created(){
      this.cargar = true
      this.traerProductos().then(response =>{
        if(response == null){
          this.loading = false
          this.productos = []
        }else{
          this.loading = false
          this.productos = this.getProductos
          this.productos.sort((a , b)=>{
            if (a.nomart > b.nomart) {
              return 1;
            }
            if (a.nomart < b.nomart) {
              return -1;
            }
            // a must be equal to b
            return 0;
          });
          this.longitud = this.productos.length
        }
      }).finally(()=>{ this.cargar = false })
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg', 'verProducto']),

      // EXCEL
      exportar(){
        this.exportarExcel('Productos',this.productos)
      },

      edit(item){
        this.verProducto(item).then( response=> {
          this.$router.push({name:'verart', params: {id: item.codigo}})
        })
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      }

    },

    computed:{
      ...mapGetters('productos',['getProductos'])
    }

  }
</script>





