<template>  
  <v-container>

    <v-row v-show="visibleScan">  
      <v-col cols="12" md="8" lg="6">
        <v-btn color="primary" 
          class="mt-2 mb-12 text-caption" 
          rounded 
          @click="closeScan" 
          block>Cerrar scanner <v-icon right>mdi-barcode</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <!-- Artículos -->
    <v-row >  
      <v-col cols="12" md="8" lg="6">
        <v-card class="shadowCard" v-show="!visibleScan">
          <v-card-title primary-title>
            Nuevo Artículo
            <v-spacer></v-spacer>
            <!-- BTN ATRAS -->
            <v-btn 
              small
              class="mr-2 text-capitalize" 
              color="blue lighten-2" 
              :to="{name:'catproductos'}" 
              dark>Atrás
            </v-btn>

            <!-- BTN GUARDAR -->
            <v-btn 
              v-if="existe == false"
              small 
              dark 
              class=" text-capitalize" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              clearable
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
              dense
            ></v-text-field>

            <v-btn color="primary" 
              class="mt-2 mb-12 text-caption" 
              rounded 
              @click="openScan" 
              block>Abrir scanner <v-icon right>mdi-barcode</v-icon>
            </v-btn>

            <v-text-field
              v-if="existe == false"
              label="Nombre del artículo"
              v-model="nomart"
              outlined
              dense 
            ></v-text-field>

            <v-textarea
              v-if="existe == false"
              label="Compuesto"
              v-model="sal"
              outlined
              dense
              rows="3" 
              >
            </v-textarea>

            <v-select 
              dense
              outlined
              v-if="existe == false"
              :items="laboratorios"
              v-model="laboratorio"
              :hint="` ${laboratorio.idlaboratorios}`"
              item-text="nomlab"
              item-value="idlaboratorios" 
              label="Laboratorio"
              persistent-hint
              return-object
              single-line
            ></v-select>
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
             
    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>

<script>
  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  // import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
  import { Plugins } from '@capacitor/core';
  const { BarcodeScanner } = Plugins;

  export default {

    components: {
      Alerta,
      Loader
    },

    data () {
      return {
        laboratorios:[],
        laboratorio: {nomlab:'', idlaboratorios:''},
        existe: true,

        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        sal:'',
        lab:'',

        alerta:'',
        alertaInput: false,
        loader: true,
        cargar: false,
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },
        respuestaAlerta: false,
        visibleScan: false
      }
    },

    created(){
      this.init()
      this.$http.get('movil/laboratorios.list').then(response=>{
        if(response.body.length > 0){
          this.laboratorios = response.body
        }
      }).catch(error=>{
        this.validarErrores( error )
      })

    },

    computed: {
      validaInfo(){
        return  this.nomart               !==  '' && 
                this.sal                  !==  '' &&       
                this.laboratorio.nomlab   !==  '' &&
                this.codigo               !==  '' 
      },
    },
      
    watch:{
      codigo(){
        if(this.codigo != ''){
          this.$http.get('articulos.codigo/'+ this.codigo).then(response=>{
            if(response.body.length > 0){
              this.existe = true
              this.text = 'Producto ya existente'
              this.snackbar = true
            }else{
              this.existe = false
            }
          }).catch(error=>{
            this.existe = false
            console.log('error',error)
          })
        }else{
          this.existe = true
        }
      }
    },

    methods:{

      async init(){
        const status = await BarcodeScanner.checkPermission({ force: true });
        if (status.granted) {
          // the user granted permission
          return true;
        }
        return false;
      },

      async openScan(){
        // Cerramos todo para que no se vea
        this.visibleScan = true
        // Preparamos la camara
        BarcodeScanner.prepare();
        // Abrirmos la camara
        const result = await BarcodeScanner.startScan(); // start scanning and wait for a result
        // cuando la camara capte el codigo, mostrara lo siguiente
        if (result.hasContent) {
          this.codigo = result.content
          this.visibleScan = false
        }
        
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.codigo){
            this.alerta = `No has asignado un codigo al articulo`
          }
          if(!this.nomart){
            this.alerta = this.alerta +`
            No has asignado un nombre al articulo`
          }
          if(!this.sal){
            this.alerta = this.alerta +`
            No has asignado un compuesto  al articulo`
          }
          if(!this.laboratorio.nomlab){
            this.alerta = this.alerta +`
            No has asignado un laboratorio al articulo`
          }
          this.alertaInput = true
          
        }else{
          var payload = {
            nomart:         this.nomart,
            codigo:         this.codigo,
            sal:            this.sal,
            lab:            this.lab,
            idlaboratorio:  this.laboratorio.idlaboratorios
          }
          this.$http.post('articulos.add', payload).then(response=>{
            this.text  = 'Artículo agregado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catproductos'})), 1500)
          }).catch(error=>{
            this.validarErrores( error )
          })
        }
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      closeScan ( ) {
        this.visibleScan = false
        BarcodeScanner.showBackground();
        BarcodeScanner.stopScan();
      }



    }

  }

</script>

<style>
  .theme--light.v-application{
    background: transparent !important;
  }
</style>