<template>  
  <v-container>
    <v-row >  
      <v-col cols="12" md="8" lg="6">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Editar Artículo
            <v-spacer></v-spacer>
            <v-btn 
              small
              class="ma-2" 
              color="blue lighten-2" 
              :to="{name:'catproductos'}" 
              dark>Atras
            </v-btn>

            <v-btn 
              small 
              dark 
              class="ma-2" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              readonly
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              dense
              filled
            ></v-text-field>
            
            <v-text-field
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
              dense
            ></v-text-field>

            <v-textarea
              label="Compuesto"
              v-model="sal"
              outlined 
              dense
            >
            </v-textarea>

            <v-select 
              outlined
              :items="laboratorios"
              v-model="laboratorio"
              item-text="nomlab"
              item-value="idlaboratorios" 
              label="Laboratorio"
              persistent-hint
              return-object
              single-line
              dense
            ></v-select>

            <v-select 
              outlined
              :items="categorias"
              v-model="categoria"
              item-text="categoria"
              item-value="idcategorias" 
              label="Categoria"
              persistent-hint
              return-object
              dense
              clearable
            ></v-select>

          </v-card-text>
          <v-alert type="error" :value="alertaInput">
            {{alerta}}
          </v-alert>
        </v-card>
        <v-snackbar
          v-model="snackbar"
          :timeout="8000"
          top
          :color="color" 
          >
          {{text}}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
        </v-snackbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    data () {
      return {
        laboratorios:[],
        laboratorio: {nomlab:'', idlaboratorios:''},

        existe: true,

        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        sal:'',
        lab:'',

        alerta:'',
        alertaInput: false,

        categorias:[],
        categoria:null,
      }
    },


    computed: {
      ...mapGetters('productos',['getProducto']),
      validaInfo(){
        return  this.nomart      !==  '' && 
                this.sal         !==  '' &&       
                this.laboratorio.idlaboratorios         !==  '' 
      },
    },

    async created(){
      this.codigo = this.getProducto.codigo
      await this.cargarInfo()
      await this.getLaboratorios()
      await this.getCategorias()

      this.nomart = this.getProducto.nomart
      this.sal    = this.getProducto.sal

    },


    async created(){
      await this.cargarInfo()
      await this.getLaboratorios()
      await this.getCategorias()

      this.codigo = this.getProducto.codigo
      this.nomart = this.getProducto.nomart
      this.sal = this.getProducto.sal
      this.lab = this.getProducto.lab
    },

      
    methods:{
      cargarInfo(){
        return this.$http.get('articulos.codigo/'+ this.getProducto.codigo).then(response=>{
          this.producto = response.data[0]
          this.statusweb = this.producto.statusweb == 1 ? true : false
          this.laboratorio = {idlaboratorios: this.producto.idlaboratorio, nomlab:    this.producto.nomlab}
          this.categoria   = {idcategorias:   this.producto.idcategorias,  categoria: this.producto.categoria}
        }).catch(error=>{console.log(error)})
      },

      getLaboratorios(){
        this.laboratorios = []
        return this.$http.get('movil/laboratorios.list').then(response=>{
          if(response.body.length > 0){
            this.laboratorios = response.body
            this.laboratorios.forEach((element =>{
              if(element.idlaboratorios == this.getProducto.idlaboratorio){
                console.log('si')
                this.laboratorio = {nomlab: element.nomlab, idlaboratorios: element.idlaboratorios}
              }
            }))
          }
        }).catch(error=>{
          console.log('error',error)
        })
      },

      getCategorias(){
        this.categorias = []
        return this.$http.get('categorias.activas').then(response=>{
          this.categorias = response.body
        }).catch(error=>{
          console.log('error',error)
        })
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.nomart){
            this.alerta = this.alerta +`
            No has asignado un nombre al articulo`
          }
          if(!this.sal){
            this.alerta = this.alerta +`
            No has asignado un compuesto  al articulo`
          }
          if(!this.laboratorio.idlaboratorios){
            this.alerta = this.alerta +`
            No has asignado un laboratorio al articulo`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            nomart:        this.nomart,
            sal:           this.sal,
            idlaboratorio: this.laboratorio.idlaboratorios,
            idcategorias:  this.categoria ? this.categoria.idcategorias : 0
          }
          console.log(payload)
          this.$http.put('movil/articulos.update/'+ this.getProducto.id, payload).then(response=>{
            this.text  = 'Artículo actualizado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catproductos'})), 1500)
          })
        }
      }



    }

  }

</script>