<template>
	<v-container>
		<v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">

          <v-card-title primary-title>
            Categorias
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>
            
            <!-- NUEVO -->
            <v-btn align="right" 
              color="primary" dark small 
              @click="dialog = true">Nuevo
            </v-btn>
          </v-card-title>

          <v-card-text>
					  <v-data-table
              :items="categorias"
              dense
              :items-per-page="10"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
					  >
					    <!-- Valores que ocupan botons, chips, iconos, etc -->
					    <template v-slot:item.estatus="{ item }">
					      <v-chip 
					      	v-if="item.estatus == 1"
					      	small
					      	color="green"
					      	dark
					      >Activo</v-chip>

					      <v-chip 
					      	v-else
					      	small
					      	color="error"
					      	dark
					      >Inactivo</v-chip>
					    </template>

					    <template v-slot:item.color="{ item }">
					      <v-chip 
					      	small
					      	:color="item.color"
					      	dark
					      ></v-chip>
					    </template>

					    <template v-slot:item.actions="{ item }">
					      <v-icon
					        small
					        class="mr-2"
					        color="primary"
					        @click="editItem(item)"
					      >
					        mdi-pencil
					      </v-icon>
					      <v-icon
					        small
					        @click="deleteItem(item)"
					        color="error"
					      >
					        mdi-delete
					      </v-icon>
					    </template>

					    <template v-slot:no-data>
					      <v-btn
					        color="primary"
					        @click="initialize"
					        small
					      >
					        Actualizar
					      </v-btn>
					    </template>
					  </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>
        </v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialog para gregar -->
	  <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model="editedItem.categoria"
            label="categoria"
            filled
            hide-details
            dense
          ></v-text-field>
        </v-col>

        	<v-switch 
        		label="Activo"
            hide-details
        		v-model="editedItem.estatus"></v-switch>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error"
            @click="close"
            small
            rounded
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            @click="save"
            dark
            small
            rounded
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

		<!-- Dialog delete -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row>
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-h6" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar la pregunta?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text large class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C" dark class="elevation-6" large @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="6">
	      			<v-img src="@/assets/borrar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

	</v-container>
</template>
<script>
	import  reportes_excel from '@/mixins/reportes_excel.js';

  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  export default {
    mixins:[reportes_excel],

    components: {
      Alerta,
      Loader
    },

    data: () => ({
    	dialogDelete: false,
      dialog: false,
      headers: [
        { text: 'ID'     , align: 'start', sortable: false, value: 'idcategorias', },
        { text: 'categoria'  , value: 'categoria' },
        { text: 'Estatus', value: 'estatus' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      categorias: [],
      editedIndex: -1,
      editedItem: {
        idcategorias: '',
        categoria: '',
        estatus: '',
      },
      defaultItem: {
        idcategorias: '',
        categoria: '',
        estatus: '',
      },

      page: 1,
      pageCount: 0,

      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },
      respuestaAlerta: false,

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar categoría' : 'Editar categoría'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.categorias = []
        this.overlay = true
        this.$http.get('categorias.list').then(response=>{
        	this.categorias = response.body
        	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // EXCEL
      exportar(){
        this.exportarExcel('categorias',this.categorias)
      },

      editItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('categorias.update/' + this.editedItem.idcategorias, this.editedItem).then(response=>{
        	this.dialogSuccess = true
        	this.overlay = false
        	this.closeDelete()
        	this.initialize()
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.editedItem.categoria == ''){
      		this.error     		= 'Favor de llenar todos los campos'
        	this.errorBack 		= false
        	this.overlay   		= false
	        this.dialogError 	= true
	        return
      	}
        if (this.editedIndex > -1) {
          // Activamos el loader
	        this.overlay = true
	        // Lo mandapos por el EP
          this.$http.put('categorias.update/' + this.editedItem.idcategorias, this.editedItem).then(response=>{
          	this.validarSuccess( 'Categoría editada correctamente ')
          	this.initialize()
	        }).catch( error => {
            this.validarErrores( error )
          }).finally(()=>{ this.cargar = false })

        } else {
        	// Activamos el loader
	        this.overlay = true
	        // Lo mandapos por el EP
          this.$http.post('categorias.add', this.editedItem).then(response=>{
          	this.validarSuccess( 'Categoría agregada correctamente ')
          	this.initialize()
	        }).catch( error => {
            this.validarErrores( error )
          }).finally(()=>{ this.cargar = false })
        }
        this.close()
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      validarSuccess ( mensaje ){
        this.cargar = false
        this.parametros.mensaje = mensaje
        this.parametros.color        = 'success'
        this.parametros.dialogError  = true 
        this.respuestaAlerta = true 
      }
    },
  }
</script>


