<template>  
  <v-container>
    <!-- Cerrar el scanner -->
    <v-row v-show="visibleScan">  
      <v-col cols="12" md="8" lg="6">
        <v-btn color="primary" 
          class="mt-2 mb-12 text-caption" 
          rounded 
          @click="closeScan" 
          block>Cerrar scanner <v-icon right>mdi-barcode</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row >  
      <v-col cols="12" md="8" lg="6">
        <v-card class="shadowCard" v-show="!visibleScan">
          <v-card-title primary-title>
            Nueva entrada
            <v-spacer></v-spacer>
            <!-- BTN ATRAS -->
            <v-btn 
              small
              class="mr-2 text-capitalize" 
              color="blue lighten-2" 
              :to="{name:'catentradas'}" 
              dark>Atrás
            </v-btn>

            <!-- BTN GUARDAR -->
            <v-btn 
              v-if="existe == false"
              small 
              dark 
              class=" text-capitalize" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              clearable
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              dense
              outlined hide-details 
            ></v-text-field>
              
            <v-btn color="primary" 
              class="mt-2 mb-12 text-caption" 
              rounded 
              @click="openScan" 
              block>Abrir scanner <v-icon right>mdi-barcode</v-icon>
            </v-btn>

            <v-text-field
              v-if="existe ==  false"
              readonly
              label="Nombre del artículo"
              v-model="nomart"
              outlined
              dense 
            ></v-text-field>
            
            <v-text-field
              v-if="existe ==  false"
              label="Cantidad recibida"
              v-model="cant1"
              outlined
              dense 
              type="number" 
            ></v-text-field>
            
            <v-text-field
              v-if="existe ==  false"
              label="Confirmar"
              v-model="cant2"
              outlined 
              type="number" 
              dense
            ></v-text-field>
          
            <v-text-field
              v-if="existe ==  false"
              label="Proveedor"
              v-model="proveedor"
              outlined 
              dense
            ></v-text-field>

            <v-text-field
              v-if="existe ==  false"
              label="Factura"
              v-model="factura"
              outlined 
              dense
            ></v-text-field>

            <v-text-field
              v-if="existe ==  false"
              label="Lote"
              v-model="lote"
              outlined 
              dense
            ></v-text-field>

            <v-menu
              v-if="existe ==  false"
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="caducidad"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  outlined
                  v-model="caducidad"
                  label="Fecha de caducidad"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="caducidad" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(caducidad)">OK</v-btn>
              </v-date-picker>
            </v-menu>
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
             
    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>
  </v-container>
</template>

<script>
  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  // import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
  import { Plugins } from '@capacitor/core';
  const { BarcodeScanner } = Plugins;

  export default {
    components: {
      Alerta,
      Loader
    },

    data () {
      return {
        existe: true,
        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        codigo2:'',
        result2:'',
        nomart:'',
        cant1:'',
        cant2:'',
        lote:'',
        caducidad: new Date().toISOString().substr(0, 10),
        menu: false,
        lote:'',

        proveedor:'',
        factura:'',

        alerta:'',
        alertaInput: false,

        loader: true,
        cargar: false,
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },
        respuestaAlerta: false,
        visibleScan: false
      }
    },

    created(){
      this.init()
    },


    computed: {
      validaInfo(){
        return  this.codigo    !==  '' && 
                this.lote      !==  '' &&
                this.cant1     ===  this.cant2
      },
    },

    watch:{
      codigo(){
        this.$http.get('articulos.codigo/' + this.codigo).then(response =>{
          if(response.body.length > 0){
            this.nomart = response.body[0].nomart
            this.codigo2 = response.body[0].codigo
            this.existe = false
          }else{
            this.text = 'No existe el articulo'
            this.snackbar = true
            this.existe = true
          }
          console.log(response.body)
        }).catch(error =>{
          this.text = 'No existe el articulo'
          this.snackbar = true
          console.log('error', error.status)
        })
      }
    },

    methods:{
      async init(){
        const status = await BarcodeScanner.checkPermission({ force: true });
        if (status.granted) {
          // the user granted permission
          return true;
        }
        return false;
      },


      async openScan(){
        // Cerramos todo para que no se vea
        this.visibleScan = true
        // Preparamos la camara
        BarcodeScanner.prepare();
        // Abrirmos la camara
        const result = await BarcodeScanner.startScan(); // start scanning and wait for a result
        // cuando la camara capte el codigo, mostrara lo siguiente
        if (result.hasContent) {
          this.codigo = result.content
          this.visibleScan = false
        }
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(this.codigo == ''){
            this.alerta = `No has escaneado ningun artículo`
          }
          if(this.nomart == ''){
            this.alerta = this.alerta +`
            El articulo no existe`
          }
          if(this.cant1 == ''){
            this.alerta = this.alerta +`
            Asigna una catidad recibida`
          }

          if(this.cant2 == ''){
            this.alerta = this.alerta +`
            Confirma la cantidad recibida`
          }

          if(this.cant1 != this.cant2){
            this.alerta = this.alerta +`
            No concuerdan las cantidades`
          }

          if(this.lote == ''){
            console.log(this.lote)
            this.alerta = this.alerta +`
            Asigna el lote`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            codigo:     this.codigo2,
            cant:       this.cant1,
            caducidad:  this.caducidad,
            lote:       this.lote,
            fechaentr:  new Date().toISOString().substr(0, 10),
            proveedor:  this.proveedor,
            factura:    this.factura
          }
          this.$http.post('entradas.add', payload).then(response=>{
            this.validarSuccess( 'Artículo agregado')
            this.$http.post('almacen.add', payload).then(response=>{
              this.validarSuccess( 'Entrada agregada')
              this.snackbar = true
              setTimeout(() => (this.$router.push({name: 'catentradas'})), 1500)
            }).catch( error => {
              this.validarErrores( error )
            }).finally(()=>{ this.cargar = false })
          }).catch( error => {
            this.validarErrores( error )
          }).finally(()=>{ this.cargar = false })
        }
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      validarSuccess ( mensaje ){
        this.cargar = false
        this.parametros.mensaje = mensaje
        this.parametros.color        = 'success'
        this.parametros.dialogError  = true 
        this.respuestaAlerta = true 
      },

      closeScan ( ) {
        this.visibleScan = false
        BarcodeScanner.showBackground();
        BarcodeScanner.stopScan();
      }

    }

  }

</script>