<template>  
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">

          <v-card-title primary-title>
            Editar entrada
            <v-spacer></v-spacer>
            <!-- BTN ATRAS -->
            <v-btn 
              small
              class="mr-2 text-capitalize" 
              color="blue lighten-2" 
              :to="{name:'catentradas'}" 
              dark>Atrás
            </v-btn>

            <v-btn 
              small 
              dark 
              class="ma-2" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
            	readonly
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              filled
              dense
            ></v-text-field>

            <v-row>
              <v-col  cols="12">
                <v-text-field
                  readonly
                  label="Nombre del artículo"
                  v-model="nomart"
                  outlined 
                  hide-details 
                ></v-text-field>
              </v-col>
              <v-col  cols="6">
                <v-text-field
                	readonly
                  label="Cantidad recibida"
                  v-model="cant1"
                  outlined 
                  hide-details 
                  type="number" 
                ></v-text-field>
              </v-col>
              <v-col  cols="6">
                <v-text-field
                	readonly
                  label="Confirmar"
                  v-model="cant2"
                  outlined 
                  hide-details 
                  type="number" 
                ></v-text-field>
              </v-col>
              <v-col  cols="12">
                <v-text-field
                  label="Lote"
                  v-model="lote"
                  outlined 
                  hide-details 
                ></v-text-field>
              </v-col>
              <v-col  cols="12">
                <v-text-field
                  label="Proveedor"
                  v-model="proveedor"
                  outlined 
                  hide-details 
                ></v-text-field>
              </v-col>
              <v-col  cols="12">
                <v-text-field
                  label="Factura"
                  v-model="factura"
                  outlined 
                  hide-details 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="caducidad"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="caducidad.substr(0, 10)"
                      label="Fecha de caducidad"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="caducidad" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(caducidad)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-alert type="error" :value="alertaInput">
                  {{alerta}}
                </v-alert>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    data () {
      return {
        existe: true,
        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        cant1:'',
        cant2:'',
        lote:'',
        caducidad: new Date().toISOString().substr(0, 10),
        menu: false,
        lote:'',
        proveedor:'',
        factura:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
    	...mapGetters('productos',['getEntrada']),
      validaInfo(){
        return  this.codigo    !==  '' && 
                this.lote      !==  '' &&
                this.cant1     ===  this.cant2
      },
    },

    created(){
    	this.codigo = this.getEntrada.codigo
      this.nomart = this.getEntrada.nomart
      this.cant1 = this.getEntrada.cant
      this.cant2 = this.getEntrada.cant
      this.lote = this.getEntrada.lote
      this.caducidad = this.getEntrada.caducidad
      this.proveedor = this.getEntrada.proveedor
      this.factura = this.getEntrada.factura
    },

    methods:{

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(this.lote == ''){
            console.log(this.lote)
            this.alerta = this.alerta +`
            Asigna el lote`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            caducidad:    this.caducidad,
            lote:         this.lote,
            proveedor:    this.proveedor,
            factura:       this.factura,
          }
          this.$http.put('entradaS.update/'+ this.getEntrada.identradas, payload).then(response=>{
            this.text  = 'Entrada actualizado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catentradas'})), 1500)
          })
        }
      },

    }

  }

</script>