<template>
  <v-app >

    <v-app-bar
      app
      color="primary"
      dark
      dense
      v-if="getLogeado == true"
    >
      <v-toolbar-title>
        <v-app-bar-nav-icon 
          @click.stop="drawer = !drawer" 
          v-if="getLogeado == true"
        ></v-app-bar-nav-icon>
        
        <span  v-if="getdatosUsuario.nomper">Almácen Tienda</span>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>
      
      <v-btn icon @click="salir" v-if="getdatosUsuario.nomper">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>


    <v-navigation-drawer
      v-if="getLogeado == true"
      v-model="drawer"
      app
    >

      <v-row>
        <v-col cols="12" class="text--center" align="center">
          <img src="https://surtimedix.com/imagenes/logo.png" alt="alt" max-height="80" width="200" align="center">
        </v-col>
      </v-row>

     <v-card-text class="primary pa-1 mt-2 white--text" align="center">
        {{ getdatosUsuario.nomper }}
      </v-card-text>

      <v-list dense nav>
        <v-list-item-group
          v-model="selectedItem"
          color="primary"
        >
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            :to="{name: item.path}"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon" color="primary"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    
    <!-- Ruteo de vistas -->
    <v-main>
      <router-view />
    </v-main>

    <v-footer>
      Versión 2.4
    </v-footer>
  </v-app>
</template>

<script>
import store from '@/store'
import {mapGetters, mapActions} from 'vuex'

  export default {
    props: {
      source: String,
    },
    data: () => ({
      logo:'',
      snackbar: false,
      drawer: null,
      selectedItem: 1,
      items: [
        { text: 'Home'                   ,path: 'home'         ,      icon:'home'},
        { text: 'Catálogo de articulos'  ,path: 'catproductos' ,      icon:'chrome_reader_mode'},
        { text: 'Laboratorios'           ,path: 'catlab',             icon:'local_hospital'},
        { text: 'Categorias'             ,path: 'Categorias',         icon:'bookmarks'},
        { text: 'Entradas  '             ,path: 'catentradas'  ,      icon:'book'},
        { text: 'Salidas'                ,path: 'catsalidas',         icon:'bookmarks'},
        { text: 'Existencias'            ,path: 'catexistencia' ,     icon:'store'},
        { text: 'Faltantes'              ,path: 'faltantes' ,         icon:'store'},
        { text: 'Discrepancias'          ,path: 'catdiscre',          icon:'assignment'},
        { text: 'Información'            ,path: 'info',               icon:'info'}
      ],
    }),
    beforeCreate(){
      // mandar a llamar la api
    },

    created(){
      this.logo = this.$http.options.root + '/imagenes/logo.png'
    },

    methods:{
      ...mapActions('tema',['traerTema']),
      ...mapActions('Login', ['salirLogin']),

      salir(){
        this.salirLogin()
        // Mando a llamar la accion salir
        this.$store.dispatch("salir")
      },

    },

    computed:{
     ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
     ...mapGetters('tema', ['getTema']),
    
      logueado(){
        return this.$store.state.usuario;
      },
    }
}



</script>

<style>
  .shadowCard{
    border-radius: 15px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.1)  !important;
  }

  .theme--light.v-application{
    background: transparent !important;
  }
</style>



