<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Salidas
            <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green dark"
              @click="exportar()">
              <v-icon>mdi-file-excel</v-icon>
            </v-btn>
            
            <!-- NUEVO -->
            <v-btn align="right" 
              color="primary" dark small 
              :to="{name: 'newsalidas'}">Nuevo
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-text-field
              dense
              v-model="search"
              append-icon="search"
              label="Buscar Productos"
              single-line
              outlined
              dense
            ></v-text-field>

            <v-row>
              <v-col cols="6" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="inicio"
                  label="Fecha de inicio"
                  hide-details
                  type="date"
                  outlined
                ></v-text-field>
              </v-col>

              <v-col cols="6" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="fin"
                  label="Fecha de fin"
                  hide-details
                  type="date"
                  outlined
                ></v-text-field>
              </v-col>
                    
              <v-col cols="12" sm="6" md="4" lg="3">
                <v-btn color="primary" @click="filtroFechas()" small class="mr-2"><v-icon>search</v-icon></v-btn>
                <v-btn color="primary" @click="initialize()" small>Todo</v-btn>
              </v-col>
            </v-row>

            <v-data-table
              :items="productos"
              dense
              :items-per-page="6"
              :headers="headers"
              class="elevation-0 pt-4"
              :page.sync="page"
              @page-count="pageCount = $event"
              :mobile-breakpoint="100"
              hide-default-footer
            >

              <template v-slot:item.fechaentr="{ item }">
                {{ item.fechaentr.substr( 0, 10 ) }}
              </template>

              <template v-slot:item.caducidad="{ item }">
                {{ item.caducidad.substr( 0, 10 ) }}
              </template>

              <template v-slot:item.actions="{ item }">
                <v-chip color="primary" small icon @click="edit(item)"> Editar </v-chip>
              </template>

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :total-visible="5"
              :length="pageCount"
            ></v-pagination>
          </v-card-actions>


        </v-card>
      </v-col>
    </v-row>  

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import  reportes_excel from '@/mixins/reportes_excel.js';

  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  export default {
    mixins:[reportes_excel],

    components: {
      Alerta,
      Loader
    },

    data: () => ({
      inicio:new Date().toISOString().substr(0, 10),
      fin:new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,

      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Articulo', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Cantidad',  value: 'cant' },
        { text: 'Salida',    value: 'fecha' },
        { text: 'Lote',      value: 'lote' },
        { text: 'Caducidad', value: 'caducidad' },
        { text: 'Recibio',   value: 'recibio' },
        { text: 'entrego',   value: 'nomuser' },
      ],

      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },
      respuestaAlerta: false,

    }),

    created(){
      this.initialize()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg']),

      initialize(){
        this.productos= []
        this.$http.get('salidas.list').then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            this.productos.forEach(element=>{
              element.fecha = element.fecha.substr(0,10)
              element.caducidad = element.caducidad.substr(0,10)
            })
            this.longitud = this.productos.length
          }
        })
      },

      // EXCEL
      exportar(){
        this.exportarExcel('salidas',this.productos)
      },

      filtroFechas(){
        this.productos= []
        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }
        this.$http.post('salidas.fecha',payload).then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            this.longitud = this.productos.length
          }
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      validarSuccess ( mensaje ){
        this.cargar = false
        this.parametros.mensaje = mensaje
        this.parametros.color        = 'success'
        this.parametros.dialogError  = true 
        this.respuestaAlerta = true 
      }
      
    },

    computed:{
      ...mapGetters('productos',['getProductos'])
    }

  }
</script>





