<template>
  <v-container>

    <!-- Cerrar el scanner -->
    <v-row v-show="visibleScan">  
      <v-col cols="12" md="8" lg="6">
        <v-btn color="primary" 
          class="mt-2 mb-12 text-caption" 
          rounded 
          @click="closeScan" 
          block>Cerrar scanner <v-icon right>mdi-barcode</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row >  
      <v-col cols="12" md="8" lg="6">
        <v-card class="shadowCard" v-show="!visibleScan">
          <v-card-title primary-title>
            Nueva Salida
            <v-spacer></v-spacer>

            <!-- BTN ATRAS -->
            <v-btn 
              small
              class="ma-2" 
              color="blue lighten-2" 
              :to="{name:'catsalidas'}" 
              dark>Atras
            </v-btn>

            <!-- BTN GUARDAR -->
            <v-btn 
              v-if="existe == false && todoOk == true"
              small 
              dark 
              class=" text-capitalize" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>

          </v-card-title>

          <v-card-text>
            <v-text-field
              clearable
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              dense
              outlined hide-details 
            ></v-text-field>
              
            <v-btn color="primary" 
              class="mt-2 mb-12 text-caption" 
              rounded 
              @click="openScan" 
              block>Abrir scanner <v-icon right>mdi-barcode</v-icon>
            </v-btn>

            <v-text-field
              dense
              v-if="existe ==  false"
              readonly
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
            ></v-text-field>

            <v-text-field
              dense
              v-if="existe ==  false"
              label="Cantidad"
              v-model="cant1"
              outlined 
              type="number" 
            ></v-text-field>

            <v-text-field
              dense
              v-if="existe ==  false"
              label="Confirmar"
              v-model="cant2"
              outlined 
              type="number" 
            ></v-text-field>

            <v-data-table
              v-if="existe == false && cant1 == cant2 && cant1 != '' && cant2 != '' "
              :loading="loading"        
              :headers="headers"
              :items="productos"
              class="elevation-1 mb-6"
              hide-default-footer
              loading-text="Cargando..."
              dense
              :search="search"
              :items-per-page="longitud"
              :mobile-breakpoint="200"
              item-key="idalmacen"
            >
              <template v-slot:item.salida="props">
                <v-edit-dialog
                  :return-value.sync="props.item.salida"
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                > {{ props.item.salida }}
                  <template v-slot:input>
                    <v-text-field
                      v-model="props.item.salida"
                      label="Cantidad"
                      single-line
                      counter
                      type="number"
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </template>

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>
            </v-data-table>

            <v-text-field
              dense
              v-if="existe ==  false "
              label="Recibió"
              v-model="recibio"
              outlined 
            ></v-text-field>

            <v-menu
              dense
              v-if="existe ==  false"
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="fecha"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  outlined
                  dense
                  v-model="fecha"
                  label="Fecha de Salida"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="fecha" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(fecha)">OK</v-btn>
              </v-date-picker>
            </v-menu>

            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
            
          </v-card-text>
          <!-- TOOLBAR -->
          
        </v-card>

      </v-col>
    </v-row>
             
    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>


<script>

  import {mapGetters} from 'vuex'
  // Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'

  // import { BarcodeScanner } from '@capacitor-community/barcode-scanner';
  import { Plugins } from '@capacitor/core';
  const { BarcodeScanner } = Plugins;

  export default {

    components: {
      Alerta,
      Loader
    },
    data () {
      return {
        todoOk: false,

        existe: true,
        snackbar: false,
        text:'',
        color:'',

        almacen:[],

        codigo:'',
        result2:'',
        nomart:'',
        cant1:'',
        cant2:'',
        recibio:'',
        fecha: new Date().toISOString().substr(0, 10),
        menu: false,

        alerta:'',
        alertaInput: false,


        loading: true,
        longitud:5,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        search:'',
        productos:[],
        headers: [
          { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
          { text: 'Cantidad', value: 'cant' },
          { text: 'Caducidad', value: 'caducidad' },
          { text: 'Lote', value: 'lote' },
          { text: 'Salida', value: 'salida' },

        ],
        codigo2:0,

        loader: true,
        cargar: false,
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },
        respuestaAlerta: false,
        visibleScan: false

      }
    },

    created(){
      this.init()
    },


    computed: {
      ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),

      validaInfo(){
        return  this.codigo    !==  '' && 
                this.recibio   !==  '' &&
                this.recibio   !==  '' &&
                this.cant1     ===  this.cant2
      },
    },

    watch:{
      codigo(){
        if(this.codigo != ''){
          this.$http.get('articulos.codigo/' + this.codigo).then(response =>{
            if(response.body.length > 0){
              this.codigo2 = response.body[0].codigo
              this.nomart = response.body[0].nomart
              this.existe = false
              this.existencias()
            }else{
              this.text = 'No existe el articulo'
              this.snackbar = true
              this.existe = true
            }
          }).catch( error => {
            this.validarErrores( error )
          }).finally(()=>{ this.cargar = false })
        }else{
          this.existe = true
        }
      }
    },

    methods:{

      async init(){
        const status = await BarcodeScanner.checkPermission({ force: true });
        if (status.granted) {
          // the user granted permission
          return true;
        }
        return false;
      },

      async openScan(){
        // Cerramos todo para que no se vea
        this.visibleScan = true
        // Preparamos la camara
        BarcodeScanner.prepare();
        // Abrirmos la camara
        const result = await BarcodeScanner.startScan(); // start scanning and wait for a result
        // cuando la camara capte el codigo, mostrara lo siguiente
        if (result.hasContent) {
          this.codigo = result.content
          this.visibleScan = false
        }
        
      },

      existencias(){
        // this.codigo = this.codigo2
        this.$http.get('existencias.codigo/' + this.codigo2).then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            for(const i in this.productos){
              this.productos[i].caducidad = this.productos[i].caducidad.substr(0,10) 
            }
            this.longitud = this.productos.length
          }
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(this.codigo == ''){
            this.alerta = `No has escaneado ningun artículo`
          }
          if(this.recibio == ''){
            this.alerta = this.alerta +`
            ¿Quien recibió?`
          }
          if(this.cant1 == ''){
            this.alerta = this.alerta +`
            Asigna una catidad de salida`
          }
          if(this.cant2 == ''){
            this.alerta = this.alerta +`
            Confirma la cantidad de salida`
          }
          if(this.cant1 != this.cant2){
            this.alerta = this.alerta +`
            No concuerdan las cantidades`
          }

          this.alertaInput = true
        }else{
          this.verificarExistencias()
        }
      },

      verificarExistencias(){
        this.$http.get('existencias.codigo/'+ this.codigo2).then(response=>{
          this.almacen = response.body
          var suma = 0
          if(this.almacen.length > 0){
            for (var i = this.almacen.length - 1; i >= 0; i--) {
              suma = suma + parseInt(this.almacen[i].cant)
            }

            if(this.cant1 > suma){
              this.text = 'No hay existencias suficientes'
              this.snackbar = true
            }else{
              // Restar existencias 
              this.eliminaAlmacen()
            }

          }else{
            this.text = 'No hay existencias'
            this.snackbar = true
          }
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      eliminaAlmacen(){ 
        this.productos.forEach((element) =>{
          if(element.salida != undefined){
            var payload = {cant: element.cant - element.salida}
            this.$http.put('almacen.update/' + element.idalmacen , payload).then(response=>{
              element.caducidad = element.caducidad.substr(0,10)
              this.agregarSalida(element.salida, element.lote, element.caducidad )
              console.log('response', response)
              setTimeout(() => (this.$router.push({name: 'catsalidas'})), 1500)
            })
          }
        })
      },

      agregarSalida(cant, lote, caducidad){
        var payloadSalida = {
          codigo:    this.codigo2,
          lote:      lote,
          caducidad: caducidad,
          cant:      cant,
          recibio:   this.recibio,
          fecha:     this.fecha,
          entrego:   this.getdatosUsuario.idusuariosweb
        }
        this.$http.post('salidas.add', payloadSalida).then(response=>{
          console.log(response.body)
        }).catch( error => {
          this.validarErrores( error )
        }).finally(()=>{ this.cargar = false })
      },

      save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Data saved'
      },

      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Canceled'
      },

      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialog opened'
      },

      close () {
        var suma = 0
        this.productos.forEach((element, index)=>{
          if(element.salida != undefined){
            if(element.salida > parseInt(element.cant)){
              element.salida = parseInt(element.cant)
            }
            suma = suma + parseInt(element.salida)
          }

          if(index == this.productos.length - 1){

            if(suma < this.cant1){
              this.snackbar = false
              this.text = 'Faltan: ' +  (this.cant1 - suma)
              this.snackbar = true 
            }

            if(suma > this.cant1){
              this.snackbar = false
              this.text = 'Sobra: ' +  (suma - this.cant1 )
              this.snackbar = true 
            }

            if(suma == this.cant1){
              this.todoOk = true
            }
          }
        })
      },

      validarErrores ( value ){
        this.cargar = false
        if( value.status == 400 || value.status == 500 ){
          this.parametros.mensaje = value.body.message
          this.parametros.color        = '#FF2C2C'
          this.parametros.dialogError  = true 
          this.respuestaAlerta = true 
        }
      },

      validarSuccess ( mensaje ){
        this.cargar = false
        this.parametros.mensaje = mensaje
        this.parametros.color        = 'success'
        this.parametros.dialogError  = true 
        this.respuestaAlerta = true 
      },

      closeScan ( ) {
        this.visibleScan = false
        BarcodeScanner.showBackground();
        BarcodeScanner.stopScan();
      }

    },
  }

</script>